################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsistantHashSample/.vs
/ConsistantHashSample/bin
/ConsistantHashSample/obj
/fundamental/bin/
/fundamental/obj
/Intermediate/bin/
/Intermediate/obj